.links {
  list-style-type: none;
  text-align: center; 
  display: block;
  font-size: 17px;
  padding: 5px;
}

.links a:link {
  display: block;
  color: black;
  font-size: 17px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #dfc3da; 
  padding: 5px;
  margin: 5px;
}

.links a:visited {
  display: block;
  color: black;
 background-color: #dfc3da; 
}

.links a:hover {
  color: black;
  display: block;
  background-color: #b5a6b2; 
}
